#MOTCSider {
  background-color: #fff;
  border-right:1px solid #ececec;
  height: 100%;
}

#MOTCSider .sider-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 6px;
}

#MOTCSider .main-menu {
  background-color: #fff;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#MOTCSider .main-menu .main-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 24px;
  font-size: 18px;
  cursor: pointer;
  border-right: 5px solid rgba(0, 0, 0, 0);
}

#MOTCSider .main-menu .main-menu-item:hover {
  color: #007ad9;
  background-color: #e6f7ff;
}

#MOTCSider .main-menu .main-menu-item.active {
  color: #007ad9;
  background-color: #fff;
}

#MOTCSider .main-menu .main-menu-item .main-menu-icon {
  padding-right: 6px;
}

#MOTCSider .sub-menu {
  visibility: hidden;
  height: 0px;
  background-color: #f4f4f4;
  list-style-type: none;
  padding: 0px;
}

#MOTCSider .sub-menu .main-menu-item {
  padding: 8px 0px 8px 48px;
  justify-content: flex-start;
}

#MOTCSider .sub-menu .main-menu-item:hover {
  border-right-color: #007ad9;
}

#MOTCSider .sub-menu .main-menu-item.active {
  border-right-color: #007ad9;
  background-color: #e6f7ff;
}

#MOTCSider .sub-menu.active {
  visibility: visible;
  height: auto;
}